.DS_Store
.coverage
coverage.*
.python-version
.vscode
/burnman/data/*
/contrib/tutorial/uncertainty.dat
/misc/*.pdf
/sphinx/*.pdf
/examples/example_woutput.txt
/sphinx/_build/*
/build/*
*.tmp
*.pyc
/contrib/*
examples/axisem_lowermantle_chondritic.txt
examples/axisem_lowermantle_pyrolite.txt
examples/fo90_SLB2011_phase_diagram.pdf
examples/fo90_SLB2022_phase_diagram.pdf
examples/mineos_lowermantle_chondritic.txt
examples/mineos_lowermantle_pyrolite.txt
