numpy
numpydoc
matplotlib
scipy
sympy
furo
sphinxcontrib.bibtex
nbsphinx
cvxpy
jupyter
autograd
sparse

# ReadTheDocs cannot build pycddlib successfully
# because it requires gmp.h, installable only via sudo apt-get install.
# It is therefore not added here. It is mock-imported in conf.py instead.
